* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #6d603f;
  color: white;
}

.notes-list {
  margin: 10px 20px;
}

.notes-app {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  max-width: 1200px;
}

.notes-app h1 {
  padding: 20px 0;
  text-align: center;
}


.notes-item {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.item-body h3 {
  margin: 10px 0;
}

.item-body p {
  margin: 10px 0;
}
.item-body .createdAt {
  font-weight: 100;
  font-style: italic;
  color: #aaa;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-item button {
  cursor: pointer;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

.notes-input {
  display: flex;
  flex-direction: column;
}

.notes-input button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;

}



.notes-input input,
.notes-input textarea
{
  font-size: 1.2em;
  padding: 20px 10px;
  border: none;
  border-bottom: 1px solid black;
}

.notes-input input:focus,
.notes-input textarea:focus
{
  outline: none;
  border: none;
  border-bottom: 1px solid black;

}

.notes-app .search-bar {
  display: flex;
  padding: 10px ;
  margin-bottom: 10px;
}


@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}


